@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body {
    margin: 0;
}

h1 {
    box-sizing: border-box;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 0.5%;
}

h1::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 4px solid white;
    padding-bottom: 5px;
}

hr {
    margin: 0 10px;
}

.principal {
    display: grid;
    grid-template-columns: 20% 1fr;
}

/*PARTE DEL ASIDE*/

.aside {
    background: rgb(33, 33, 33);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    height: 100vh;
}

.botones_constantes {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    background: rgb(33, 33, 33);
}

.botones_constantes button,
.botones_variables button {
    background: rgb(33, 33, 33);
    font-family: 'Nunito', sans-serif;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        background: rgb(46, 46, 46);
    }

    &:focus {
        background: rgb(65, 65, 65);
    }
}

.botones_variables {
    display: grid;
    overflow-y:scroll;
    max-height: 22.5vw;
}

.crea_botones {
    position: sticky;
    top: 100%;
    height: 50px;
    width: 100%;

    background: rgb(33, 33, 33);
    font-family: 'Nunito', sans-serif;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;

    &:hover {
        background: rgb(46, 46, 46);
    }
}

/*PARTE DE LAS SECCIONES*/

.seccion {
    padding: 4%;
    padding-top: 0;
    background: rgb(46, 46, 46);
    overflow: auto;
    overflow-x: hidden;
}

.seccion .texto {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;

    background: rgba(46, 46, 46, 0.9);
    top: 0;
    border-radius: 5px;
    height: 18%;
    width: 100%;
    padding-left: 2.5%;
}

.seccion h2 {
    position: sticky;
    bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 6vh;
    color: white;
}

.seccion p {
    position: sticky;
    bottom: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 3.1vh;
    color: white;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0%;
    padding-top: 0;
    background: rgb(46, 46, 46);
}

.seccion .notas_contenedor {
    display: grid;
    gap: 4%;
    padding-left: 3%;
    margin-top: 11%;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 205px);
    overflow-y: auto;
}

.notas_contenedor label {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    width: 160vh;
    height: 7.9vh;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    background: rgb(57, 56, 56);
    
    font-size: 3.1vh;
    color: white;

    &:hover {
        background: rgb(72, 72, 72);
    }
}

input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4d4d4d;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;

    &:checked {
        background: #575757;
        border: 2px solid #a7a3a3;
    }
}

.seccion .agregar_nota {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;

    background: rgba(46, 46, 46, 0.5);
    bottom: 0;
    border-radius: 5px;
    height: 17%;
    width: 100%;
    padding-left: 2.5%;
    border: none;
    outline: none;  

    &::before{
        content: "";
        position: absolute;
        top: 37%;
        bottom: 0;
        left: 3.5%;
        width: 22px;
        height: 22px;
        border: 2px solid black;
        border-radius: 50%;
    }

}

.seccion .input_nota::placeholder{
    color: rgb(56, 56, 56);
}

.seccion .input_nota{
    border: none;
    border-radius: 5px;
    padding-left: 4%;
    height: 45px;
    width: 70%;

    font-family: 'Nunito', sans-serif;
    background: rgba(255, 255, 255, 0.8);   
    font-size: 3vh;

    &:focus{
        border: none;
        outline: none;
    }
}

/* Scrollbar*/

::-webkit-scrollbar {
    width: 3px;
}

.botones_variables::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 1px;
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;

}